{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #ec3d1e; }
    </style>
{% endblock head %}
{% block content %}
    <h1>About</h1>
    <p class="important">
      Tha ebout page.
    </p>
{% endblock content %}

{% block footer %}
<h4>aboutfooter</h4>
{{ super() }}
{% endblock footer %}