{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #4095e9; }
    </style>
{% endblock %}
{% block content %}
    <h1>Home</h1>
    <p class="important">
      Welcome to my awesome homepage 1
    </p>
{% endblock %}

{% block footer %}
<h4>homefooter</h4>
{% endblock footer %}